$color1: #ffc0cb;
$color2: #b497ee;
$color3: #8c52ff;
$color4: white;
$color5: rgb(0, 0, 0);
$color6: rgb(177, 197, 223);
$color7: rgb(216, 14, 14);
$color8: rgb(17, 17, 250);
$color9: #6f52aa;
$color10: rgb(70, 178, 214);
$color11: #b14ba3;
body{
    background-color: $color1;

    h1{
        color: $color2;
    }
    h2{
        color: $color9;
        background-color: $color2;
    }
    h3{
        color: $color9;
    }
    h4{
        color: $color9;
    }
    a{
        color: $color9;
    }
    a:hover{
        color: $color10;
    }
    .descuento{
        background-color: #BCA1E4;
        color: $color7;
        text-shadow: 1px 1px 3px black;
    }
    header{
        background-color: $color1;

        #bg-color{
            background-color: $color3;

            #collapsibleNavbar{
                background-color: $color3;

            }
            i{
                color: $color2;
            }
            .navbar-brand{
                color: $color1;
            }
        }
    }
    main{
        p{
            color: $color4;
        }
        .jumbotron{
            color: $color3;
            text-shadow: 2px 1px 5px black;
        }
        h2{
            @extend h2;
        }
        .container-fluid{

            .card:hover{
                background-color: $color2;
            }
            .card-body p{
                color: $color5;
            }
        }
        .nosotros{
            background-color: $color1;
        
            .row{

                .nleft{
                    background-color: $color3;
                }
                .nright{
                    background-color: $color6;

                    h3{
                        color: rgb(79, 117, 129);
                    }
                }
            }
        }
    }
    
    .newsletter{
        background-color: $color2;
        color: $color9;

        h2{
            color: $color9;
        }
        input{
            border: 3px solid $color9;
        }
        
        input:focus{
            color: $color11;
        }
    }
    .card:hover{
        background-color: $color2;
    }
    .card-body p{
        color: $color5;
    }
    footer{
        background-color: $color3;
        color: white;
    
        .redes a{
            color: $color6;
        }
        .redes i{
            color: $color6;
        }
        .redes i:hover{
            color: $color6;
        }
    }
}
